<!DOCTYPE html>
<html lang="es">
  <head>
    <title>HACKDO | DASHBOARD</title>
    <script src="/js/dashboard.bundle.js"></script>
  </head>

  <body>
    <header>
      <nav>
        <ul class="menu align-right">
          <li>
            <a href="#"><i class="material-icons">&#xE90F;</i> Cerrar sesion</a>
          </li>
          <li>
            <a href="/user"> <i class="material-icons">&#xE851;</i> Perfil </a>
          </li>

          <li class="active">
            <a href="/dashboard"> <i class="material-icons">&#xE8EF;</i> Dashboard </a>
          </li>
        </ul>
      </nav>
    </header>

    <div class="dashboard_header">
      <div class="row text-center">
        <h1 class="dashboard_title">
          <div class="line-top line-narrow"></div>DASHBOARD<div class="line-bottom line-narrow"></div>
        </h1><!-- end title -->
      </div><!-- end title container -->
    </div><!-- end dashboard_header -->

    <div class="row">
      <section class="columns large-3 medium-12 small-12 section_options">
        <article>
          <nav>
            <ul>
              <li>
                <a href="/event/add" target="_blank">
                  <button class="btn_create_event">
                    <i class="material-icons">&#xE02E;</i>
                    <span>CREAR EVENTO</span>
                  </button>
                </a>
              </li>

              <li>
                <a href="/user/create" target="_blank">
                  <button class="btn_create_event">
                    <i class="material-icons">&#xE03B;</i>
                    <span>CREAR USUARIO</span>
                  </button>
                </a>
              </li>

              <li>
                <a href="/user/list" target="_blank">
                  <button class="btn_create_event">
                    <i class="material-icons">&#xE896;</i>
                    <span>LISTADO DE USUARIOS</span>
                  </button>
                </a>
              </li>

            </ul>
          </nav>
        </article>
      </section>

      <section class="columns large-9 medium-12 small-12 section-feed">
        <div class="large-8">
          <div class="large-centered form-search_container">
            <div id="root"></div>
          </div> <!-- end form-search_container -->
        </div>

        <div class="container_events large-8">
          <div class="event">
            <div class="row container-event-header">
              <div class="columns large-8 wrap-event-header">
                <h1 class="container-event-header_title">QUIBDO JS</h1>
                <div class="container-event-header_attributes">
                  <div class="wrap_header_date">
                    <i class="material-icons">&#xE916;</i>
                    <span class="container-event-header_date">2017-02-17</span>
                  </div><!-- end wrap_header_date -->

                  <div class="wrap_header_location">
                    <i class="material-icons">&#xE0C8;</i>
                    <span class="container-event-header_location">Camara de comercio</span>
                  </div><!-- end wrap_header_location -->
                </div><!-- end wrap-event-header -->
              </div><!-- end container-event-header -->

              <div class="columns large-4 container-event-options">
                <div class="wrap-event-options">
                   <div class="wrap-event-options_delete">
                     <i class="material-icons">&#xE872;</i>
                     <span>Eliminar</span>
                   </div>

                    <div class="wrap-event-options_edit">
                     <i class="material-icons">&#xE22B;</i>
                       <a href="/event/edit">
                         <span>Editar</span>
                       </a>
                    </div>
                </div><!-- end wrap-event-options -->
              </div><!-- end container-event-options -->
            </div><!-- end container-event-header -->

            <p class="event_description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio sunt, error eius temporibus, voluptate illo consectetur dicta mollitia perferendis dolores repellendus numquam? Rem dolor autem earum vitae numquam natus similique.
            </p><!-- end event_description -->
          </div><!-- end event -->

          <div class="container-loadmore text-center">
            <button class="container-loadmore_btn">
              <i class="material-icons">&#xE8FA;</i>
              <span>CARGAR MAS</span>
            </button>
          </div>

        </div><!-- end container_events -->
      </section>
    </div>
  <div id="containder-footer"></div>
 </body>
</html>
