@import '../settings';

.container_events {
  .event-wrap {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .event {
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
    color: $black;
    .event_description {
      margin-top: 10px;
    }
  }
  .container-event-header {
    position: relative;
    .container-event-header_title {
      margin-top: 0px;
      margin-bottom: 0px;
      font-family: $global-font-family-light;
      font-weight:100;
      padding-bottom: 5px;
      color: $primary;
    }
    .container-event-header_attributes {
      .wrap_header_date, .wrap_header_location {
        display:inline-block;
        vertical-align: middle;
        margin-right: 10px;
        i, span {
          vertical-align: middle;
          font-size: 17px;
          color: $secondary;
        }
      }
    }

    .wrap-event-options {
      padding: 7px;
      padding-left: 0px;
      color: $black;
      text-align: right;
      .wrap-event-options_delete {
        display: inline-block;
        padding-right: 10px;
        color: #9c9898;
        transition: all 0.25s;
        &:hover {
          color: $black;
        }
        i, span {
          vertical-align: middle;
          cursor: pointer;
          font-size: 15px;
        }
      }
      .wrap-event-options_edit {
        display: inline-block;
        color: #9c9898;
        transition: all 0.25s;
        a {
          text-decoration: none;
          color: #9c9898;
          &:hover {
            color: $black;
          }
        }
        &:hover {
          color: $black;
        }
        i, span {
          vertical-align: middle;
          cursor: pointer;
          font-size: 15px;
        }
      }
    }
  }
}
