@import '../settings';

.form-search {
  .static-height_search {
    height: 60px;
  }
  .static-height_options {
    height: 62px;
  }
  .btn-search {
    color: $primary;
    vertical-align: top;
    outline:none;
    transition:all 0.25s;
    cursor: pointer;
    &:hover {
      color: $primary_hover;
    }
  }
  .input-search {
    font-family: $global-font-family;
    vertical-align: top;
    border: none;
    padding: 5px;
    outline: none;
    background: none;
    border-bottom: 1px solid $primary;
    transition: all 0.25s;
    width: calc(100% - 30px);
    color: #1d1d1d;
    font-size: 15px;
    margin-bottom:5px;
    &:focus {
      font-size: 16px;
      border-color: $primary_hover;
      border-width:2px;
    }
    &:hover {
      font-size: 16px;
      border-color: $primary_hover;
      border-width: 2px;
    }
  }
}
