header {
  .menu {
    background: #1d1d1d;
    color:white;
    font-family: 'Open Sans Regular';
    font-size: 18px;
    li {
      cursor: pointer;
      transition: all 0.25s;
      &:hover {
        background:#3F51B5;
      }
      i, span, a {
        vertical-align: middle;
        color: white;
        text-decoration: none;
      }
    }
  }
}
