@import '../settings';

.active {
  a {
    background:#3F51B5 !important;
  }
}

header {
  .menu {
    background: $black;
    color:white;
    font-family: $global-font-family;
    font-size: 18px;
    li {
      cursor: pointer;
      transition: all 0.25s;
      &:hover {
        background:#3F51B5;
      }
      i, span, a {
        vertical-align: middle;
        color: white;
        text-decoration: none;
      }
    }
  }
}
