@import '../settings';

.invalid {
  border-color: $error !important;
}

.empty {
  border-color: $warning !important;
}
.valid {
  border-color: $primary !important;
}


.search-by {
  margin-top: 10px;
  .btn-search {
    color: $primary;
    vertical-align: top;
    outline:none;
    transition:all 0.25s;
    cursor: pointer;
    &:hover {
      color: $primary_hover;
    }
  }

  .input-search {
    font-family: $global-font-family;
    vertical-align: top;
    border: none;
    padding: 5px;
    outline: none;
    border-bottom: 1px solid #2196F3;
    transition: all 0.25s;
    width: calc(100% - 30px);
    color: #1d1d1d;
    font-size: 15px;
    &:hover {
      font-size: 16px;
      border-width: 2px;
    }
    &:focus {
      font-size: 16px;
      border-width: 2px;
    }
  }
}




.search-by_date {
  font-size: 16px;
  margin-top: 10px;
  i {
    vertical-align: bottom;
    font-size: 26px;
    padding-right: 5px;
    color: $primary;
  }
  .input_start_at {
    vertical-align: middle;
    border: none;
    border-bottom: 1px solid $primary;
    padding-top: 3px;
    outline:none;
    color: $secondary;
    width: calc(100% - 34px);
  }
}

@media (max-width: 1024px) {
  .search-by_date {
    margin-bottom: 15px;
    margin-top: 15px;
  }
}

.push-msg {
  margin-left: 25px;
}

.input-msg {
  font-size: 12px;
  font-family: $global-font-family-light;
  display: inline-block;
  line-height: 1.4;
  margin-top: 5px;
  transition: all 0.25s;
  animation-name: appear;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
