.line-top {
  position: relative;
  margin: 0px auto;
  margin-bottom: 10px;
  padding-bottom: 1px;
  width: 50px;
  background: maroon;
}

.line-bottom {
  position: relative;
  margin: 0px auto;
  margin-top: 10px;
  padding-top: 1px;
  width: 50px;
  background: maroon;
}

.line-narrow {
  position: relative;
  margin: 0px auto;
  margin-top: 10px;
  padding-top: 1px;
  width: 15px;
  height: 10px;
}
