@import '../settings';

@media (max-width: 1024px) {
  .container-loadmore  {
    padding:0px !important;
  }
  .event {
    padding-left: 10px !important;
  }
  .input_start_at {
    width: 100%;
  }
}

.container-loadmore {
  padding: 20px;
  .container-loadmore_btn {
    border: 1px solid $primary;
    width:100%;
    height: 40px;
    color:$primary;
    font-family: $global-font-family-light;
    transition:all 0.25s;
    &:hover {
      color:white;
      background:#1d7cc7;
    }
    &:focus {
      color:white;
      background:#1d7cc7;
    }
    i, span {
      vertical-align: middle;
      font-size: 20px;
    }
  }
}
