<form class="form-search">
    <button type="button" class="btn-search"><i class="material-icons">&#xE8B6;</i> </button>
    <input type="text" class="input-searh" placeholder="Buscar"><!-- end input-searh -->

    <div class="wrap-search-options">
      {{#each form_options}}
        <div class="search-by {{this.alias}}">
          <span>{{this.name}} </span><i class="material-icons">&#xE836;</i>
        </div><!-- end search-by -->
      {{/each}}
    </div><!-- end wrap-search-options -->
</form><!-- end form-search -->

