<!DOCTYPE html>
<html lang="es">
  <head> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackdo | Agregar evento</title>
    <link rel="stylesheet" type="text/css" href="/styles/Event/Events.css">
  </head>
  <body> 
    <div class="row medium-8 large-5 columns">
        <div class="row columns text-center">
          <h1>AGREGAR EVENTO</h1>
        </div>
        <form class="addEvent">
            <input class="large-12 name" type="text" placeholder="Nombre">

            <div class="row columns large-12">
              <label class="row">Fecha</label>
              <div class="columns large-6">
                <label for="start">Inicio:</label>
                <input class="date" type="date" name="start">
              </div>
              <div class="columns large-6">
                <label for="end">Termina:</label>
                <input class="date" type="date">
              </div>
            </div>

            <div class="large-12 description"> 
              <label>Descripcion</label>
              <textarea class="large-12"></textarea>
            </div>

            <div class="lecturer">
              <label for="">Conferensistas</label>
              <input class="large-12 name" type="text" placeholder="Nombre">
              <a href="#" class="float-right">Eliminar</a>
              <a href="#" class="row">Agregar conferensista</a>
            </div>

            <div class="large-12 place"> 
              <label>Lugar</label>
              <div class="line large-12"></div>
              <iframe class="large-12" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15930.88076735091!2d-76.5083449!3d3.4181995!3m2!1i1024!2i768!4f13.1!4m3!3e6!4m0!4m0!5e0!3m2!1ses!2sco!4v1484843113064"  frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

            <a href="#" class="button large-12">AGREGAR</a>
        </form>     
    </div>
</body
></html>