<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ username }}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" type="text/css" href="engine1/style.css" />
		<link rel="stylesheet" type="text/css" href="/css/sweetalert.css">
		<link rel="stylesheet" type="text/css" href="/css/notification.css">

		<script src="/js/sweetalert.min.js"></script>

	  <script type="text/javascript" src="engine1/jquery.js"></script>
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.scrollzer.min.js"></script>
		<script src="js/jquery.scrolly.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/body.css">
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
			<link rel="stylesheet" href="css/bootstrap.min.css"/>
		</noscript>

	</head>
	<body>
	<!--! la clase div "todo" abarca todo el contenido visible -->
		<div id="todo">

		<!--!section header abarca el menu vertical derecho -->
				<section id="header" class="skel-layers-fixed">
					<header>
						<span class="image avatar"><img src="imagenes/avatar.jpg" alt="" /></span>
						<h1 id="logo"><a href="#">Uniclaretiana</a></h1>

					</header>
					<nav id="nav">
						<ul>
						    <li><a href="#one">INICIO</a></li>
							<li><a href="/gallery">VIDEO</a></li>
							<li> <a href="/foro">FORO</a> </li>
							<li><a href="#Galeria">ACERCA DE</a></li>
							<li><a href="/profile">CONFIGURACIÓN DE CUENTA </a> </li>
              <li>
                <a href="#" class="close-session">CERRAR SESIÓN</a>
              </li>
						</ul>
					</nav>

				</section>
			<!--!	div main abarca todas las secciones de peticiones -->
				<div id="main">
			<!--!	id one  los enlaces del foro -->

			<section id="one">
<!-- 			<div id="barra" class"col-md-12" style="background-color: black;" >
					<a href="/home" style="color: aliceblue;"><img style="width:120px; background:white;" src="/imagenes/logo-fucla.png"> </a>
				</div>

 -->
     <br> <br>
     <br> <br>
     <br>
			<div class="container">
				<div class"col-md-12">

              <div class="templatemo-flex-row flex-content-row">
            <div class="templatemo-content-widget white-bg col-md-6">
           <img src="imagenes/mision.png">
              <p> La Fundación Universitaria Claretiana –UNICLARETIANA es una IES de frontera, inspirada en el proyecto humanización, fundamentada en la tradición cristiana y animada por el carisma claretiano, desarrolla la formación integral mediante la docencia, la investigación y la extensión, para que la comunidad educativa sea partícipe de los cambios que requiere la sociedad, con justicia social, desarrollo humano y paz, dentro del contexto regional, nacional e internacional.</p>

            </div>
             <div class="templatemo-content-widget white-bg col-md-4">
             <img src="imagenes/vision.png">
                <p>  La Fundación Universitaria Claretiana – UNICLARETIANA – será identificada como una Institución de Educación Superior de frontera, comprometida con la formación integral de personas, que aporten a la paz  y a la construcción de región en los diversos contextos socioculturales.</p>
                </div>
                <div class"col-md-2">

                </div>
            </div>
				</div>
		</div>
      </section>



<section id="Galeria">

    <br>
<br>
<center><h1>¿QUIENES SOMOS?</h1>
</br>

</br>
<center><h4>Somos estudiantes de ingenieria de sistemas quinto(5°) semestre dia y somos los desarrolladores de este sitio web.</h4></center>
</br></center>
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
 <center>

  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="imagenes/dos.jpg" alt="...">
      <div class="carousel-caption"> <h3></h3> </div>
    </div>
    <div class="item">
      <img src="imagenes/uno.jpg" alt="...">
      <div class="carousel-caption"><h3></h3> </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
 </center>
</div> <!-- Carousel -->
</br>
</section>
</div>
</div>

	<div id="wrapper-notifications" data-hide={{ hasEmail }}></div>

		<script type="text/javascript" src="engine1/wowslider.js"></script>
		<script type="text/javascript" src="engine1/script.js"></script>

		<script src="js/slidejs.js"></script>
		<script src="js/notification.js"></script>
		<script src="js/homepage.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script>
			$('.carousel').carousel({
				interval: 2500
			})
		</script>
	</body>


</html>
