<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<a href="/route/list">
		<img style="-webkit-user-select: none" src="https://procatinator.com/images/tumblr_lg3i47epIK1qght7mo1_500-2.gif">
				Click me
	</a>
</body>
</html>
