<!DOCTYPE html>
<html>
<head>
	<title>HACKDO | FOUNTATION</title>
  <link rel="stylesheet" type="text/css" href="/styles/homepage/homepage.css">
</head>
<body>
  <header class="header-hackdo">
    <nav class="row">
      <div class="container-logo large-2 columns">
        <a href="/">
          <img src="/img/logo.png" alt="HACKDO">
        </a>
      </div><!-- container logo -->

      <ul class="column large-10">
        <li>Test</li>
        <li>EVENTOS</li>
        <li>GALERIA</li>
        <li>MISION Y VISION</li>
        <li>ENTRAR</li>
      </ul><!-- end ul -->
    </nav><!-- end nav -->
  </header><!-- end header -->

  <section class="section-hackdo outer">
    <div class="container-section-header" style="background-image: url('/img/header/banner.jpg')">

    </div>


    <!--
     <article class="row middle">
      <div class="inner">
        <h1 class="text-center hackdo-title">
          <div class="line-top line-narrow"></div>
           HACKDO FOUNTATION
          <div class="line-bottom line-narrow"></div>
        </h1>
      </div>
    </article> -->
  </section><!-- end section-hackdo   -->
</body>
</html>
