<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="Hackdó Conf 2018">
  <meta property="og:description" content="Es un evento gratuito anual llevado a cabo por la Hackdó Foundation y Partners, que reúne a entusiasta emprendedores y desarrolladores durante tres días en la ciudad de Quibdó.">
  <meta property="og:image" content="http://www.hackdoconf.co/assets/images/portada.jpg">
  <meta property="og:url" content="http://www.hackdoconf.co/">
  <meta property="og:type" content="website"/>

  <meta name="twitter:title" content="Hackdó Conf 2018">
  <meta name="twitter:description" content="Es un evento gratuito anual llevado a cabo por la Hackdó Foundation y Partners, que reúne a entusiasta emprendedores y desarrolladores durante tres días en la ciudad de Quibdó.">
  <meta name="twitter:image" content="http://www.hackdoconf.co/assets/images/portada.jpg">
  <meta name="twitter:card" content="summary_large_image">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Hackdo Conf">

  <meta name="msapplication-TileImage" content="/assets/images/logo-1x.png">
  <meta name="msapplication-TileColor" content="#000">

  <link rel="shortcut icon" href="favicon.ico" />
  <link rel="stylesheet" href="/app.css">
  <link rel="manifest" href="/manifest.json">
  <title>Hackdó Conf 2018</title>
  <script>
    window.publicServerKey = String("<%= publicServerKey %>");
  </script>

  <% if(environment === 'development'){ %>
    <script src="http://localhost:35729/livereload.js"></script>
  <% } %>
</head>

<body>
  <div id="app"></div>
</body>
<script src="/bundle.js"></script>

</html>
