<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Hackdo Conf">

  <meta name="msapplication-TileImage" content="/assets/images/logo-1x.png">
  <meta name="msapplication-TileColor" content="#3E4EB8">

  <link rel="shortcut icon" href="favicon.ico" />
  <link rel="stylesheet" href="/app.css">
  <link rel="manifest" href="/manifest.json">
  <title>Hackdó Conf 2018</title>
  <% if(environment === 'development'){ %>
    <script src="http://localhost:35729/livereload.js"></script>
  <% } %>
</head>

<body>
  <div id="app"></div>
</body>
<script src="/bundle.js"></script>

</html>
