/*
  Bitflow global settings
  1. Global
  2. Fonts
  3. Animations
*/

// 1. Global
$primary: #291605;
$primary_hover: #3928e4;
$secondary: #9c9898;
$secondary_hover: #8c8989;
$error: red;
$warning: orange;
$black: #1d1d1d;
$orange: orange;
$loader_background :#f44336;
// 2. Fonts
Open Sans: 'Open Sans';
Open Sans: 'Open Sans';
Raleway: 'Raleway';

//3. Window sizes
$x-large: 1440px;
$large: 1024px;
$medium: 768px;
$medium-l: 450px;
$small: 320px;

