@keyframes appear-smoothly {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes disappear-smoothly {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none !important;
  }
}

.appear {
  animation-name: appear-smoothly;
  animation-duration: .4s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  opacity: 0;
}

.disappear {
  @extend .appear;
  animation-name: disappear-smoothly;
}
