@charset 'utf-8';
@import './normalize';
@import './animations';
@import './fonts';
@import './components/Input';
@import './components/Header';
@import './components/Button';
@import './components/Mask';
@import './components/PopUp';
@import './components/SectionDate';
@import './components/SectionAbout';
@import './components/SectionSpeakers';
@import './components/SectionVenue';
@import './components/SectionTeam';
@import './components/SectionAgenda';
@import './components/SectionSponsors';
@import './components/Footer';
@import './components/Gallery';
@import './components/LoadBar';

#app {
  background: rgb(255, 255, 255);
  padding: 0px;
  margin: 0px;
}
