/*
.section-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    width: $large;
    margin: 0px auto;
    position: relative;
    .section-about__article {
        padding: 20px;
        .section-about__article__title {
            font-size: 2em;
            font-family: $global-font-title;
            padding: 0px;
            margin: 0px;
            display: inline;
            color: $primary;
        }
        .section-about__article__copy {
            font-size: 1em;
            font-family: $global-font-family;
            line-height: 1.5;
            color: $black;
        }
    }
}
*/
