.section-about {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    padding-top: 50px;
    padding-bottom: 50px;
    width: $large;
    max-width: $x-large;
    margin: 0px auto;
    position: relative;
    .section-about__article {
        padding: 20px;
        .section-about__article-image {
            background-image: url('~images/img_8080__fileminimi_9lYsR.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
        }
        .section-about__article__title {
            font-size: 2em;
            font-family: $global-font-title;
            padding: 0px;
            margin: 0px;
            display: inline;
            color: black;
            .lower-bar {
                background-color: black;
                margin-top: 10px;
            }
        }
        .section-about__article__copy {
            font-size: 1em;
            font-family: $global-font-family;
            line-height: 1.5;
            color: $black;
        }
    }
}

@media (max-width: $medium-l) {
    .wrap-about-image {
        display: none;
    }
    .section-about {
        padding: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media (max-width: $large) {
    .section-about {
        width: 100%;
        grid-template-columns: 1fr;
    }
}

