.background-section {
    background-image: url('/assets/images/back-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    align-items: center;
    height: 500px;
    .background-section__date {
        background: linear-gradient(270deg, #071d92, #F44336);
        mix-blend-mode: multiply;
        text-align: center;
        grid-area: 1/1;
        position: relative;
        line-height: 1.3;
        height: 100%;
        display: grid;
        grid-template-columns: 0.25fr 1fr 0.25fr;
        grid-template-rows: 1.5fr 1fr 1fr;
        .do-title {
            grid-area: 2/2;
            text-align: center;
            font-size: 105px;
            color: #FFEB3B;
            line-height: 1.1;
            font-family: $global-font-family-light;
            font-weight: bold;
        }
        .do-date {
            font-family: $global-font-family-light;
            grid-area: 3/2;
            position: relative;
            bottom: 10px;
            color: #FFEB3B;
            font-size: 30px;
            .lower-bar {
                position: relative;
                background: white;
                margin: 20px auto;
                width: 80px;
            }
        }
    }
}

.lower-bar {
    width: 100px;
    height: 5px;
    background: white;
}

@media (max-width: $medium) {
    .background-section {
        grid-template-columns: 0.25fr 1fr 0.25fr;
    }
}


@media (max-width: $medium-l) {
    .background-section {
        grid-template-columns: 0.1fr 1fr 0.1fr;
        height: 380px;
        .background-section__date {
            margin-top: 70px;
        }
    }
}