.section-venue {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    padding-top: 15px;
    padding-bottom: 15px;
    width: $large;
    max-width: $x-large;
    margin: 0px auto;
    position: relative;

    .section-venue__article {
        padding: 20px;
        .section-venue__article-image {
            background-image: url('~images/venue.jpg');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
        }
        .section-venue__article__title {
            font-size: 2em;
            font-family: $global-font-title;
            padding: 0px;
            margin: 0px;
            display: inline;
            color: black;
            .lower-bar {
                background-color: black;
                margin-top: 10px;
            }
        }
        .section-venue__article__copy {
            font-size: 1em;
            font-family: $global-font-family;
            line-height: 1.5;
            color: $black;
        }
    }
}
@media (max-width: $medium-l) {
    .wrap-venue-image {
        display: none;
    }
    .section-venue {
        padding: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media (max-width: $large) {
    .section-venue {
        width: 100%;
        grid-template-columns: 1fr;
        .section-venue__article {
            padding-top: 10px !important;
            padding-bottom: 10px !important;
        }
    }
}

