@import "../app.scss";
@import "../components/lines.scss";
@import '../components/form_search.scss';
@import '../components/header.scss';
@import '../components/footer.scss';

.active {
  a {
    background:#3F51B5 !important;
  }
}

.dashboard_header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.dashboard_title {
  font-family: 'Open Sans Light';
  font-weight: 100;
  color: #2196f3;
  .line-narrow {
    background: #2196f3;
  }
}

.section-feed {
  padding-top:29px;
  padding-bottom:29px;
}

.section_options {
  margin: 0px;
  padding: 15px;
  ul {
    margin:0px;
    padding:0px;
    li {
      list-style: none;
      text-align: center;
      margin-bottom:20px;
      button {
        border: 1px solid #2196F3;
        color: #2196F3;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 15px;
        outline: none;
        min-width: 170px;
        width: 100%;
        font-family: 'Open Sans Regular';
        transition: all 0.25s;
        i, span {
          vertical-align:middle;
        }
        &:hover {
          color: white;
          background: #1d7cc7;
        }
      }
    }
  }
}

.form-search_container {
  .input-search {
    color: #1d1d1d;
    font-family: Open Sans Regular;
    border-bottom: 1px solid #1d7cc7 !important;
    &:hover {
      border-bottom: 2px solid #1d7cc7 !important;
    }
  }
  .btn-search {
    color:#1d7cc7;
    &:hover {
      color:#1d7cc7;
    }
  }
  .search-by_date {
    font-size: 15px;
    padding-left: 40px;
    i {
      vertical-align: bottom;
      font-size: 25px;
      color: #1d7cc7;
      padding-right: 5px;
    }
    .input_start_at {
      vertical-align: middle;
      border: none;
      border-bottom: 1px solid #1d7cc7;
      padding-bottom: 2px;
      padding-top: 5px;
      outline:none;
      color: #9c9898;
      width: calc(100% - 34px);
    }
  }
}

@media (max-width: 1024px) {
  .container-loadmore  {
    padding:0px !important;
  }
  .event {
    padding-left: 10px !important;
  }
  .form-search_container .search-by_date {
    padding-left: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .input_start_at {
    width: 100%;
  }
}

.wrap-search-options {
  padding-top: 15px;
  padding-bottom: 15px;
  .search-by_location {
    .input-search_location {
      font-size: 14px;
      &:hover {
        font-size: 14px !important;
        margin-top: -1px !important;
        border-width: 2px;
      }
      &:focus {
        font-size: 14px !important;
        margin-top: -1px !important;
        border-width: 2px;
      }
    }
  }
}

.container_events {
  .event {
    padding-left: 25px;
    padding-top: 40px;
    padding-bottom: 10px;
    color: #1d1d1d;
    .event_description {
      margin-top: 10px;
    }
  }
  .container-event-header {
    position: relative;
    .container-event-header_title {
      margin-top: 0px;
      margin-bottom: 0px;
      font-family:'Open Sans Light';
      font-weight:100;
      padding-bottom: 5px;
      color: #2196f3
    }
    .container-event-header_attributes {
      .wrap_header_date, .wrap_header_location {
        display:inline-block;
        vertical-align: middle;
        i, span {
          vertical-align: middle;
          font-size: 17px;
          color: #1D1D1D;
        }
      }
    }

    .wrap-event-options {
      padding: 7px;
      padding-left: 0px;
      color: #1d1d1d;
      .wrap-event-options_delete {
        display: inline-block;
        padding-right: 10px;
        color: #9c9898;
        transition: all 0.25s;
        &:hover {
          color: #1d1d1d;
        }
        i, span {
          vertical-align: middle;
          cursor: pointer;
          font-size: 15px;
        }
      }
      .wrap-event-options_edit {
        display: inline-block;
        color: #9c9898;
        transition: all 0.25s;
        &:hover {
          color: #1d1d1d;
        }
        i, span {
          vertical-align: middle;
          cursor: pointer;
          font-size: 15px;
        }
      }
    }
  }
}

.container-loadmore {
  padding: 20px;
  .container-loadmore_btn {
    border: 1px solid #2196f3;
    width:100%;
    height: 40px;
    color:#2196f3;
    font-family: 'Open Sans Light';
    transition:all 0.25s;
    &:hover {
      color:white;
      background:#1d7cc7;
    }
    &:focus {
      color:white;
      background:#1d7cc7;
    }
    i, span {
      vertical-align: middle;
      font-size: 20px;
    }
  }
}
