@import "../app.scss";
@import "../components/lines.scss";
@import '../components/formSearch.scss';
@import '../components/header.scss';
@import '../components/footer.scss';

.active {
  a {
    background:#3F51B5 !important;
  }
}

.content {
  padding-bottom:40px;
}

.profile_header {
  padding-top: 20px;
  padding-bottom: 20px;
  .profile_title {
    color:#2196F3;
    font-family: 'Open Sans Light';
    font-weight: 100;
    .line-narrow {
     background:#2196F3;
    }
  }
}

.form-search_container {
  .input-search {
    border-color:#1d7cc7;
    font-family: 'Open Sans Regular';
    &:hover {
      border-color:#1d7cc7;
      font-size: 17px !important;
      margin:0px !important;
    }
    &:focus {
      border-color:#1d7cc7;
      font-size: 17px !important;
      margin:0px !important;
    }
  }
  .field {
    margin-bottom:30px;
  }
  .invalid-label {
    color:red;
  }
  .wrap-input_title {
    font-size:18px;
    padding-bottom: 5px;
    span {
      font-family:'Open Sans Regular';
    }
    i, span {
      color:#2196F3;
      vertical-align: middle;
    }
  }
}


.container-send_btn {
  border: 1px solid #2196f3;
  width: 100%;
  height: 40px;
  color: #2196f3;
  font-family: 'Open Sans Bold';
  transition: all 0.25s;
  &:hover {
    color: white;
    background: #1d7cc7;
  }
  &:focus {
    color: white;
    background: #1d7cc7;
  }
  i, span {
    vertical-align: middle;
  }
}
