<!DOCTYPE html>
<html lang="es">
  <head> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackdo | Agregar evento</title>
    <link rel="stylesheet" type="text/css" href="/styles/Event/Events.css">
  </head>
  <body> 
    <div class="row medium-8 large-5 columns">
        <div class="row columns text-center">
          <div class="line-top"></div>
          <h1>AGREGAR EVENTO</h1>
          <div class="line-bottom"></div>
        </div>
        <form class="addEvent">            

            <div class="large-12">
              <span class="label-field"><i class="material-icons">toc</i> Nombre</span>
              <input type="text" class="input-field" placeholder="Completa este campo">
              <small class="hide msg-info msg-info-error">Error</small>
            </div>

            <div class="row columns large-12 font">
              <span class="label-field row"><i class="material-icons">today</i> Fecha</span>
              <div class="columns large-6">
                <label for="start">Inicio:</label>
                <input class="date" type="date" name="start">
              </div>

              <div class="columns large-6">
                <label for="end">Termina:</label>
                <input class="date" type="date">
              </div>
            </div>

            <div class="large-12 description"> 
              <span class="label-field"><i class="material-icons">comment</i> Descripcion</span>
              <textarea class="large-12" ></textarea>
            </div>

            <div class="lecturer">
              <span class="label-field"><i class="material-icons">assignment_ind</i> Conferensistas</span>
              <input type="text" class="input-field" placeholder="Completa este campo">
              <div class="float-right">
                <span class="size label-field "><i class="material-icons">clear</i> Eliminar</span>
              </div>
              <a href="#" class="row"></a>
                <span class="size label-field "><i class="material-icons">playlist_add</i> Agregar conferensista</span>
            </div>

            <div class="large-12 place"> 
              <span class="label-field"><i class="material-icons">business</i> Lugar</span>
              <input type="text" class="input-field" placeholder="Completa este campo">
            </div>

            <a href="#" class="button large-12">AGREGAR</a>
        </form>     
    </div>
</body
></html>