@-webkit-keyframes button-change-color {
  0% {
    background: red;
  }
  
  100% {
    background: green; 
  }
}

@-moz-keyframes blur-zoom {
  0% {
    -webkit-filter: blur(5);
    -moz-filter: blur(5);
  }
  
  50% {
    -webkit-filter: blur(2);
    -moz-filter: blur(2);
  }
  
  99% {
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
  }

  100% {
    -webkit-filter: none;
    -moz-filter: none;
  }
}

@-webkit-keyframes blur-zoom {
  0% {
    -webkit-filter: blur(5);
    -moz-filter: blur(5);
  }
  
  50% {
    -webkit-filter: blur(2);
    -moz-filter: blur(2);
  }
  
  99% {
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
  }

  100% {
    -webkit-filter: none;
    -moz-filter: none;
  }
}


@keyframes filter-animation {
  0% {
    -webkit-filter: sepia(0) saturate(2);
  }
  
  50% {
    -webkit-filter: sepia(1) saturate(8);
  }
  
  100% {
    -webkit-filter: sepia(0) saturate(2);
  }
}

@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: sepia(0) saturate(2);
  }
  
  50% {
    -webkit-filter: sepia(1) saturate(8);
  }
  
  100% {
    -webkit-filter: sepia(0) saturate(2);
  } 
}

@keyframes appear-smoothly {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes disappear-smoothly {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none !important;
  }
}

@keyframes disappear-smoothly-end-close {
  from {
    opacity: 1;
  }
  to {
     opacity: 0 !important;
     display: none !important;
  }
}

@keyframes appear-smoothly-and-open {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    display: block !important;    
  }
}


@keyframes scale-box {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

@keyframes unscale-box {
  from {
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}

@keyframes rebound-box {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes not-rebound-box {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes rotate-perspective-right {
  from {
    transform: rotateY(-5deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@keyframes rotate-perspective-left {
  from {
    transform: rotateY(5deg);
  }
  to {
    transform: rotateY(0deg);
  }
}


@keyframes rotate-perspective {
  from {
    transform: rotateX(-5deg);
  }
  to {
    transform: rotateX(0deg);
  }
}



@keyframes fit-perspective-right {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-5deg);
  }
}


@keyframes fit-perspective-left {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(5deg);
  }
}


@keyframes fit-perspective-top {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(-5deg);
  }
}

@keyframes fit-perspective-bottom {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(-5deg);
  }
}

@keyframes left {
  0% {
    margin-left: -10px;
  }
  100% {
    margin-left: 0px;
  }
}


.move-left {
  animation-delay: 0.25s;
  animation-name: left;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-duration: .4s;
  margin-left: -10px;
}

.transition {
  transition: all 0.25s;
}

.scale-box {
  animation-name: scale-box;
  animation-duration: .2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  transform: scale(0.9);
}

.unscale-box {
  @extend .scale-box;
  animation-name: unscale-box;
}

.rebound {
  animation-name: rebound-box;
  animation-duration: .2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  transform: scale(0.9);
}

.not-rebound {
  animation-name: not-rebound-box;
  animation-duration: .2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  transform: scale(1);
}

.appear {
  animation-name: appear-smoothly;
  animation-duration: .4s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  opacity: 0;
}

.disappear {
  @extend .appear;
  animation-name: disappear-smoothly;
}

.perspective-top {
  animation-name: rotate-perspective;
  animation-duration: .4s;
  animation-delay: 0s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  transform-origin: 50% 0%;
  transform: rotateX(-5deg);
}

.perspective-bottom {
  animation-name: rotate-perspective;
  animation-duration: .4s;
  animation-delay: 0s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  transform-origin: 50% 100%;
  transform: rotateX(-5deg);
}

.perspective-right {
  animation-name: rotate-perspective-right;
  animation-duration: .4s;
  animation-delay: 0s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  transform-origin: 50% 0%;
  transform: rotateY(-5deg);
}


.perspective-left {
  animation-name: rotate-perspective-left;
  animation-duration: .4s;
  animation-delay: 0s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  transform-origin: 50% 0%;
  transform: rotateY(5deg);
}


.fix-perspective-right {
  @extend .perspective-right;
  animation-name: fit-perspective-right;
  animation-timing-function: ease;
  animation-delay: 0s;
}

.fix-perspective-left {
  @extend .perspective-left;
  animation-name: fit-perspective-left;
  animation-timing-function: ease;
  animation-delay: 0s;
}

.fix-perspective-top {
  @extend .perspective-top;
  animation-name: fit-perspective-top;
  animation-timing-function: ease;
  animation-delay: 0s;
}

.fix-perspective-bottom {
  @extend .perspective-bottom;
  animation-name: fit-perspective-bottom;
  animation-timing-function: ease;
  animation-delay: 0s;
}

.animate-button {
  &:hover {
    animation-name: button-change-color;
    animation-duration: .4s;
    animation-iteration-count: 1;
  };
}

.close {
  animation-duration: .4s;
  animation-timing-function: ease;
  animation-name: disappear-smoothly-end-close;
}

.open {
  animation-duration: .4s;
  animation-timing-function: ease;
  animation-name: appear-smoothly-and-open;
}