@font-face {
  font-family: 'Open Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: url('./../fonts//Open_Sans/opensans-regular-webfont.woff') format('woff');
}

@font-face  {
  font-family: 'Open Sans Light';
  font-style: normal;
  src: local('Open Sans Light'),
       url('./../fonts/Open_Sans/opensans-light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Raleway Bold';
  font-style: normal;
  font-weight: bold;
  src: local('Raleway Bold'),
  url('./../fonts/Raleway/raleway-bold-webfont.woff') format('woff');
}
